body{
  margin: 0;
  background-color: white;
}

header{
  width: 100%;
  height: 100vh;
  background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
  background-position: left;
  background-size: cover;
}

nav{
  display: flex;
  justify-content: space-between;
}

#left-menu{
  display: flex;
  align-items: center;
}

#right-menu{
  display: flex;
  align-items: center;
}

#logo{
  width: 40px;
  height: 40px;
}

.menu-item{
  margin: 0px 10px;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 600px;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary{
  margin: 0px 10px;
  font-size: 12px;
  font-weight: 600px;
  color: white;
  background-color: #aad236;
  padding: 9px 34px;
  border: 0;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  cursor: pointer;
}

/*iPad Air*/
@media (max-width: 900px) {
    
}

/*iPhone*/
@media (max-width: 400px) {
    
}